/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body {
    background-color: black;
    color:white;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px 0;

    color: white;
    padding: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    font-size: 32px;
}

.nav-item a {
    color: white;
    padding: 10px 30px;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: 0.7s;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
}

.gestion-productos {
    margin-top: 15px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: red;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: red;
}

button {
    padding: 8px;
    margin:4px;
    background-color: rgb(155, 6, 6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 85%;
    font-weight: 750;
}

button:hover {
    background-color: red;
}

a {
    padding: 8px;
    margin:4px;
    background-color: rgb(155, 6, 6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 700;
}

a:hover {
    background-color: red;
}